@media only screen and (min-width: 1400px) and (max-width: 1570px) {}



@media only screen and (min-width: 1200px) and (max-width: 1400px) {}


/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

    .menu-btn-wrap .menu-reg {
        margin-right: 18px;
    }


    .common-btn {
        padding: 15px 38px;
    }

    .hero-content h1 {
        font-size: 50px;
        line-height: 60px;
    }



}

/* Medium Layout: 1280px. end */




/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Tablet Layout: 768px. end */





/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

    .mobile-mt-50 {
        margin-top: 50px;
    }

    .mobile-mt-24 {
        margin-top: 24px;
    }






}


/* Mobile Layout: 320px. end */






/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Wide Mobile Layout: 480px. end */






/* Tablet & Mobile Layout: 768px. */
@media only screen and (max-width: 991px) {

    .mobt-50 {
        margin-top: 50px;
    }

    .mobt-24 {
        margin-top: 24px;
    }

    .header-menu-area {
        padding: 27px 0;
    }

    .mobile-ham-logo {
        margin-left: 8px;
        display: unset;
        align-items: unset;
        height: unset;
        text-align: center;
    }

    .main-nav>ul>li>a.active {
        color: #EB620F;
    }

    .main-nav,
    .menu-btn-wrap {
        display: unset;
        align-items: unset;
        height: unset;
    }

    .menu-btn {
        margin-left: 16px;
        background: linear-gradient(180deg, #EB620F 0%, #FF4C6C 100%);
    }


    .menu-btn i {
        left: -5px;
        top: 0;
        padding: 14.2px;
    }


    .menu-btn-wrap .menu-reg {
        margin-right: unset;
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
        margin-left: 10px;
    }


    .sticky {
        padding: 27px 0;
    }

    .sticky .hamburger {
        margin-top: 0 !important;
    }

    .sticky .logo {
        margin-top: 1px;
    }

    .hero-content h1 {
        font-size: 47px;
        line-height: 54px;
    }

    .section-title h1 {
        font-size: 30px;
    }



    /* mobile menu */

    .header-menu-area.header-menu-area-design-2 .main-nav>ul>li>a {
        color: #fff;
    }

    .header-menu-area-design-2 .hamburger span {
        background: #000;
    }

    .hamburger {
        display: block;
        float: right;
    }

    .main-nav>ul>li>a.active {
        color: #fff;
    }

    .main-nav>ul>li:hover>a {
        color: #fff;
    }

    .main-nav {
        position: fixed;
        top: -4px;
        left: 0;
        width: 250px;
        padding: 40px 10px;
        z-index: 99999;
        height: 100%;
        overflow: auto;
        background: #ff9afe;
        border-right: 1px solid #dddddd4f;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -o-transform: translateX(-250px);
        transform: translateX(-250px);
        -webkit-transition: -webkit-transform .3s ease-in;
        -moz-transition: -moz-transform .3s ease-in;
        -o-transition: -o-transform .3s ease-in;
        transition: transform 0.3s ease-in
    }

    .main-nav.slidenav {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }

    .main-nav>ul {
        float: none;
        padding: 25px 10px;
    }

    .main-nav>ul>li.has-child-menu:after {
        content: none;
    }

    .main-nav>ul>li>a:after {
        content: none;
    }

    .main-nav>ul>li {
        display: block;
        padding: 0 !important;
        margin-left: 0
    }

    .main-nav>ul>li>a {
        font-size: 16px;
        color: #fff;
        line-height: 35px;
        margin: 10px 0;
    }

    .main-nav ul li .fl {
        display: block;
        line-height: 35px
    }

    .main-nav ul li .sub-menu {
        position: static;
        min-width: 200px;
        background: transparent;
        border: none;
        padding: 5px 0px 5px 20px;
        opacity: 1;
        visibility: visible;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
        display: none
    }

    .main-nav ul li .sub-menu>li a {
        display: block;
        padding: 10px 0;
        color: #ffffffb5;
        line-height: 0.8;
        font-size: 14px;
        text-decoration: none;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all 0.3s
    }

    .main-nav ul li .sub-menu>li a:hover {
        background: transparent;
        color: #fff;
    }

    .slideInUp {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none
    }



}












@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1440px;
    }
}